    .table-container {
        font-family: "Montserrat", sans-serif;
        width: 100%;
        background-color: #fff;
        overflow: hidden;
    }

    .table-container table {
        width: 100%;
        /* height: 80%; */
        overflow: scroll !important;
        border-collapse: collapse;
    }

    .table-container tr td {
        padding: 0px 5px 0px 20px !important;
        font-size: 12px;
    }

    .table-container tr th {
        padding: 0px 5px 0px 20px !important;
        font-size: 12px;
    }

    .table-container .pagination {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
    }

    button {
        background-color: #4b4bff;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 4px;
        cursor: pointer;
    }

    button:disabled {
        background-color: #ddd;
        cursor: not-allowed;
    }

    .action-buttons {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        /* flex-wrap: wrap; */
    }

    .action-buttons img {
        width: 20px;
        height: 20px;
    }

    .edit-btn,
    .view-btn,
    .delete-btn {
        background: none;
        border: none;
        cursor: pointer;
    }



    .data-table-section .table-container {
        position: absolute;
        top: 0;
        width: 100%;

    }

    .data-table-section .table-container {
        position: absolute;
        top: 0;
        scrollbar-width: thin;
        width: 100%;
        height: 100%;
        text-align: left;
        left: 0;
        overflow: auto;
    }

    .table-container table {
        border: 1px solid #F4F4F4;
    }

    .table-container table td,
    th {
        border: 1px solid #F4F4F4;
    }

    .table-container .pagination-container {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 30px;
        align-items: center;
        font-size: 14px;
    }

    .table-container .pagination {
        display: flex;
        list-style: none;
        padding: 0;
    }

    .table-container .pagination li a {
        padding: 8px 12px;
        border: 1px solid #ddd;
        border-radius: 4px;
        text-decoration: none;
        color: #333;
        cursor: pointer;
    }

    .table-container .pagination .active a {
        background-color: #4b4bff;
        color: white;
        border: 1px solid #4b4bff;
    }

    button {
        background-color: #4b4bff;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 4px;
        cursor: pointer;
    }

    button:disabled {
        background-color: #ddd;
        cursor: not-allowed;
    }

    .action-buttons {
        display: flex;
        justify-content: flex-start;
    }

    .action-buttons img {
        width: 24px;
        height: 24px;
        margin-right: 5px;
    }

    .edit-btn,
    .view-btn,
    .delete-btn {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 18px;
    }


    .table-container table thead tr {
        height: 25px;
    }

    .pagination-container {
        color: #707070;

        span {
            font-size: 12px;
        }
    }

    .pagination-container .pagination-controls button {
        background: transparent;
        border: 0.2px solid #707070;
        color: #707070;
        border-radius: 0 !important;
        font-weight: 300;
    }

    .pagination-container .pagination-controls button.active {
        background-color: #4b4bff;
        color: #fff;
        border-radius: none !important;
        border: none;
    }

    /* SelefEnrollmentpagecss */
    .data-table-section .table-container.self-enrollment-table {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 15px;
    }



    .data-table-section .table-container.self-enrollment-table .select-status:focus {
        outline: none;
    }

    .data-table-section .table-container.self-enrollment-table .select-status {
        border: 0.5px solid #7B7B7B;
        background: #fff;
        padding: 2px;
        margin: 5px;
        color: #7B7B7B;

    }

    .data-table-section .table-container.self-enrollment-table .select-status option {
        background: #fff;
        color: #7B7B7B;

    }

    select:focus {
        outline: none !important;
    }
    input:focus {
        outline: none !important;
    }

    main.main-content .main-section:has(.table-container.self-enrollment-table){
        height:80vh;
    }
    .main-section .table-container.self-enrollment-table{
        .first-heading-row {
           position:sticky;
            left:0;
            top:0;
       }
   }